html,  body{
 position: relative;
 overflow: hidden;
}

body{
 height: 100vh; /*Tudo que é visivel na altura*/
 background: linear-gradient(90deg, #07070771, #f2a0074d 30%, #000a 50%, #0000), 
 url(../img/background.jpg);
 background-repeat: no-repeat;
 background-position: right;
 background-size: cover;
 animation: zoom 1.5s;

 flex-direction: column;
 padding: 80px 128px 50px 120px;


}
