header {
 display: flex;
 justify-content: space-between;
}
header > a > img {
 position: absolute;
 width: 50px;
 height: 50px;
 left: 128px;
 top: 80px;
}
.link-container{
 display: flex;
 gap: 40px;
}
.link-container a {
 text-shadow: 2px 2px 2px #0D0D0D;
 padding: 6px 6px;
 transition: all .7s;
}
.link-container a:hover{
 background-color: #F2E41D;
 
 border-radius: 3px;
}